.card {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.card__image {
  position: relative;
  font-size: 0;
}

.card__content {
  padding: 12px 16px;
}

.card__footer {
  border: 1px solid #E5E2DD;
  display: flex;
  align-items: center;
  text-align: center;
  height: 41px;
}