.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-favourite {
  color: #333;
  fill : #333;
  stroke-width: 2px;
}