.label {
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: bold;
}

.best-seller-label {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: #992E75;
  color: white;
}