@mixin pill($color) {
  display: inline-block;
  border-top: 1px solid $color;
  border-right: 1px solid $color;
  border-bottom: 1px solid $color;
  border-left: 5px solid $color;
  border-radius: 3px;
  padding: 3px 6px;
  font-size: 13px;
}

.pill {
  @include pill(#C92414);
}