.price {
  font-size: 28px;
  font-weight: bold;
  line-height: 32px;
  color: #C92414;
}

.price-strikethrough {
  font-size: 16px;
  line-height: 18px;
  color: #333333;
  text-decoration: line-through;
}