.product-card {
  max-width: 353px;
}

.product-card__logo {
  width: 42px;
  height: 42px;
}

.product-card__title {
  width: 80%;
  word-wrap: break-word;
  margin-bottom: 11px;
}

.product-card__prices {
  margin-bottom: 12px;
}

.product-card__bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 13px;
  text-align: center;
  color: #4A1639;
}

.product-card__rating {
  flex-grow: 1;
}

.product-card__favourite {
  background-color: #E5E2DD;
  min-width: 41px;
  padding: 10px 0;
}