*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}